@function px($a){
  @return $a/1200*1rem;
}
.pageCtr{
  text-align: center;
  margin:px(20) 0;
  color:#c7c7c7;
  ul{
    display:inline-block;
  }
  li{
    border:1px solid;
    font:{
      size:12px;
    }
    text-align: center;
    line-height: px(32);
    margin:0 px(4);
    width:px(32);
    float:left;
  }
  li:first-child{
    width:px(80);
  }
  li:last-child{
    width:px(80);
  }
}
