@function px($a){
  @return $a/1200*1rem;
}
.pageCtr{
  text-align: center;
  margin:px(20) 0;
  color:#c7c7c7;
  ul{
    display:inline-block;
    overflow: hidden;
  }
  li{
    border:1px solid;
    cursor:pointer;
    font:{
      size:px(12);
    }
    text-align: center;
    line-height: px(32);
    margin:0 px(4);
    padding:0 px(10);
    /* width:px(32); */
    float:left;
  }
/*   li:first-child{
  width:px(80);
}
li:last-child{
  width:px(80);
}
 */}
