.pageCtr {
  text-align: center;
  margin: 0.01667rem 0;
  color: #c7c7c7;
  /*   li:first-child{
  width:px(80);
}
li:last-child{
  width:px(80);
}
 */ }
  .pageCtr ul {
    display: inline-block;
    overflow: hidden; }
  .pageCtr li {
    border: 1px solid;
    cursor: pointer;
    font-size: 0.01rem;
    text-align: center;
    line-height: 0.02667rem;
    margin: 0 0.00333rem;
    padding: 0 0.00833rem;
    /* width:px(32); */
    float: left; }
