.pageCtr {
  text-align: center;
  margin: 0.01667rem 0;
  color: #c7c7c7; }
  .pageCtr ul {
    display: inline-block; }
  .pageCtr li {
    border: 1px solid;
    font-size: 12px;
    text-align: center;
    line-height: 0.02667rem;
    margin: 0 0.00333rem;
    width: 0.02667rem;
    float: left; }
  .pageCtr li:first-child {
    width: 0.06667rem; }
  .pageCtr li:last-child {
    width: 0.06667rem; }
