.toy-plan > h1 {
  line-height: 40px;
  color: #d0d0d0;
  font-size: 14px;
  background: #f4f4f4; }

.toy-plan > h2 {
  line-height: 40px;
  margin-left: 16px;
  font-size: 15px; }

.toy-plan-tabs {
  padding-left: 16px;
  border-bottom: 1px solid #f7f7f7;
  overflow: hidden; }
  .toy-plan-tabs li {
    line-height: 46px;
    width: 114px;
    float: left;
    text-align: center;
    margin: 0 12px; }
    .toy-plan-tabs li a {
      display: block;
      width: 100%; }
