.habit-plan{
  &>h1{
    line-height:40px;
    color:#d0d0d0;
    font-size:14px;
    background:#f4f4f4;
  }
  &>h2{
    line-height: 40px;
    margin:{
      left:16px;
    }
    font:{
      size:15px;
    }
  }

  &>ul  .two-buttons{
    width:auto;
    text-align: center;
    background: none;
    &>p{
      display: inline-block;
      width: 150px;
      line-height: 40px;
      text-align: center;
      color: white;
      font-size: 18px;
      background: #5cc1df;
      border-radius: 5px;
      margin:0 20px;
    }
  }
}
