@function px($a){
  @return $a/1200*1rem;
}
.habit-plan{
  &>h1{
    line-height:px(40);
    color:#d0d0d0;
    font-size:14px;
    background:#f4f4f4;
  }
  &>h2{
    line-height: px(40);
    margin:{
      left:px(16);
    }
    font:{
      size:15px;
    }
  }

  &>ul  .two-buttons{
    width:auto;
    text-align: center;
    background: none;
    &>p{
      display: inline-block;
      width: px(150);
      line-height: px(40);
      text-align: center;
      color: white;
      font-size: 18px;
      background: #5cc1df;
      border-radius: px(5);
      margin:0 px(20);
    }
  }
}
