.sleep-plan-introduce {
  padding-left: 0.01333rem;
  padding-right: 0.01333rem;
  padding-bottom: 0.02rem;
  border-bottom: 1px #dbdbdb dashed; }
  .sleep-plan-introduce > h1 {
    line-height: 0.03333rem;
    color: #dbdbdb;
    font-size: 0.01rem; }
  .sleep-plan-introduce > ul {
    font-size: 0.01rem;
    border: 1px solid #b0b0b0;
    line-height: 0.04167rem;
    margin-bottom: 0.02167rem; }
    .sleep-plan-introduce > ul > li {
      border-top: 1px solid #b0b0b0; }
      .sleep-plan-introduce > ul > li > span {
        display: inline-block;
        width: 0.09833rem;
        color: #b0b0b0;
        padding-left: 0.01rem; }
      .sleep-plan-introduce > ul > li > img {
        height: 0.03333rem;
        display: inline-block;
        vertical-align: middle; }
    .sleep-plan-introduce > ul > li:first-child {
      border: none;
      line-height: 0.09167rem; }
      .sleep-plan-introduce > ul > li:first-child span {
        display: inline-block;
        line-height: 0.04167rem;
        vertical-align: top; }
      .sleep-plan-introduce > ul > li:first-child img {
        width: 0.06667rem;
        height: 0.06667rem; }
  .sleep-plan-introduce > p {
    line-height: 0.04333rem;
    width: 0.28333rem;
    font-size: 0.01667rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.00417rem;
    background: #5cc1df; }
    .sleep-plan-introduce > p a {
      color: white; }
