@function px($a){
  @return $a/1200*1rem;
}
.sleep-plan-introduce{
  padding:{
    left:px(16);
    right:px(16);
    bottom:px(24);
  }
  &>h1{
    line-height: px(40);
    color:#dbdbdb;
    font:{
      size:px(12);
    }
  }
  border:{
    bottom:1px #dbdbdb dashed;
  }
  &>ul{
    font:{
      size:px(12);
    }
    border:1px solid #b0b0b0;
    line-height: px(50);
    margin:{
      bottom:px(26);
    }
    &>li{
      border-top:1px solid #b0b0b0;
      &>span{
        display: inline-block;
        width:px(118);
        color:#b0b0b0;
        padding:{
          left:px(12);
        }
      }
      &>img{
        height:px(40);
        display:inline-block;
        vertical-align: middle;
      }
    }
    &>li:first-child{
      border:none;
      line-height: px(110);
      span{
        display: inline-block;
        line-height: px(50);
        vertical-align: top;
      }
      img{
        width:px(80);
        height:px(80);
      }
    }
  }
  &>p{
    line-height: px(52);
    width:px(340);
    font:{
      size:px(20);
    }
    a{
      color:white;
    }
    text-align:center;
    margin: 0 auto;
    border-radius:px(5);
    background:#5cc1df;
  }
}
