.music-list{
  &>p:nth-child(1){
    float:left;
    overflow: hidden;
    margin:{
      top:42px;
      left:16px;
    }
    font:{
      size:12px;
    }
    color:#d9d9d9;
    line-height: 1;
  }
  &>p:nth-child(2){
    float:right;
    overflow: hidden;
    margin:{
      bottom:32px;
    }
    [type]{
      float:left;
      height:37px;
      margin-top:18px;
    }
    [type=text]{
      width:294px;
      border:1px solid #e7e7e7;
      border-right:none;
      padding-left:38px;
    }
    [type=button]{
      width:114px;
      margin-right:17px;
      background:#33c9dd;
      border:none;
      color:white;
    }
  }
  .choose-scope{
    margin:{
      bottom:16px;
    }
    clear:both;
    overflow: hidden;
    line-height: 28px;
    &>li{
      float:left;
      margin:{
        left:14px;
      }
      &>span{
        border: 1px solid #ebebeb;
        background:#faf9fd;
        font:{
          size:14px;
        }
        float:left;
        padding:0 10px;
      }
      &>select{
        border-radius:0;
        border-image:none;
        float:left;
        height:30px;
        border:none;
        background:white;
        border:1px solid #ebebeb;
        background-image:none;
      }
    }


  }
}
