.voice-popup {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.01333rem;
  font-weight: bold; }
  .voice-popup > div {
    margin-top: 0.05167rem;
    width: 0.35rem;
    border-radius: 0.00417rem;
    background: white;
    text-align: right;
    position: absolute;
    overflow: scroll;
    bottom: 0.05rem;
    top: 0.05rem;
    left: 0;
    right: 0;
    margin: auto; }
    .voice-popup > div > h3 {
      position: fixed;
      line-height: 0.025rem;
      font-size: 0.025rem;
      width: 0.33667rem;
      z-index: 2;
      padding-right: 16px 16;
      padding-top: 0.00833rem;
      text-align: right; }
    .voice-popup > div > h1 {
      line-height: 0.05167rem;
      font-size: 18px;
      position: fixed;
      text-align: center;
      background: white;
      width: 0.35rem;
      border-top-left-radius: 0.00417rem;
      border-top-right-radius: 0.00417rem; }
    .voice-popup > div > h1 + ul {
      margin-top: 0.05167rem; }
