@function px($a){
  @return $a/1200*1rem;
}
.voice-popup{
  position: fixed;
  z-index: 3;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  font-size: px(16);
  font-weight: bold;
  &>div{
    margin:{
      top:px(62);
    }
    width:px(420);
    border-radius: px(5);
    background: white;
    text-align: right;
    position:absolute;
    overflow: scroll;
    bottom:px(60);
    top:px(60);
    left:0;
    right:0;
    margin:auto;
    &>h3{
      position:fixed;
      line-height:px(30);
      font-size:px(30);
      width:px(404);
      z-index: 2;
      padding-right:16px(16);
      padding-top:px(10);
      text-align: right;
    }
    &>h1{
      line-height: px(62);
      font-size: px(18);
      position: fixed;
      text-align: center;
      background: white;
      width:px(420);
      border-top-left-radius: px(5);
      border-top-right-radius: px(5);
    }
    &>h1+ul{
      margin:{
        top:px(62);
      }
    }
  }
}
