.editor-scene {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0; }
  .editor-scene .editor-scene-data {
    width: 0.35rem;
    height: 0.33333rem;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #b2b2b2;
    border-radius: 0.00833rem; }
    .editor-scene .editor-scene-data > h1 {
      line-height: 0.05167rem;
      text-align: center;
      font-size: 0.015rem;
      color: black; }
      .editor-scene .editor-scene-data > h1 span {
        cursor: pointer;
        position: absolute;
        right: 0.00833rem;
        top: 0;
        font-size: 0.025rem;
        line-height: 0.025rem; }
    .editor-scene .editor-scene-data li {
      margin-bottom: 0.01833rem; }
      .editor-scene .editor-scene-data li span {
        width: 0.055rem;
        margin-left: 0.02rem;
        display: inline-block;
        vertical-align: middle; }
      .editor-scene .editor-scene-data li input {
        width: 0.24167rem;
        height: 0.03167rem;
        vertical-align: middle;
        border: 1px solid #dbdbdb;
        padding-left: 0.01333rem; }
      .editor-scene .editor-scene-data li .editor-scene-detail {
        line-height: 0.02rem;
        font-size: 0.01rem; }
      .editor-scene .editor-scene-data li .editor-scene-notice {
        padding-left: 0.075rem;
        font-size: 0.01rem;
        line-height: 0.01667rem; }
    .editor-scene .editor-scene-data > p {
      line-height: 0.03333rem;
      width: 0.17167rem;
      background: #5cc1df;
      color: white;
      text-align: center;
      font-size: 0.015rem;
      margin: 0 auto;
      cursor: pointer;
      border-radius: 0.00417rem; }
