@function px($a){
  @return $a/1200*1rem;
}
.editor-scene{
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  .editor-scene-data{
    width:px(420);
    height:px(400);
    background: white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    color:#b2b2b2;
    border-radius: px(10);
    &>h1{
      line-height: px(62);
      text-align: center;
      font-size: px(18);
      color:black;
      span{
        cursor:pointer;
        position: absolute;
        right:px(10);
        top:0;
        font-size: px(30);
        line-height: px(30);
      }
    }
    li{
      margin-bottom:px(22);
      span{
        width:px(66);
        margin-left:px(24);
        display: inline-block;
        vertical-align: middle;
      }
      input{
        width:px(290);
        height:px(38);
        vertical-align: middle;
        border:1px solid #dbdbdb;
        padding-left:px(16);
      }
      .editor-scene-detail{
        line-height: px(24);
        font-size: px(12);
      }
      .editor-scene-notice{
        padding-left:px(90);
        font-size: px(12);
        line-height: px(20);
      }
    }
    &>p{
      line-height: px(40);
      width:px(206);
      background: #5cc1df;
      color:white;
      text-align: center;
      font-size: px(18);
      margin:0 auto;
      cursor:pointer;
      border-radius: px(5);
    }
  }
}
