.ctr-buttons {
  width: 150px;
  margin: 0 auto; }
  .ctr-buttons li {
    padding: 0 16px;
    float: left; }
  .ctr-buttons li:first-child a {
    color: #62c3e1; }
  .ctr-buttons li:nth-child(2) {
    color: #ff6b3c; }
