.aside {
  float: left;
  /* height:px(1166); */
  width: 0.11667rem;
  background: #434c6c;
  color: white;
  font-size: 0.01333rem;
  line-height: 0.05rem;
  text-align: center; }
  .aside li {
    margin: 0.01667rem 0; }
    .aside li a {
      color: white; }
