@function px($a){
  @return $a/1200*1rem;
}
.aside{
  float:left;
  /* height:px(1166); */
  width:px(140);
  background:#434c6c;
  color:white;
  font-size:px(16);
  line-height:px(60);
  text-align:center;
  li{
    margin:px(20) 0;
    a{
      color:white;
    }
  }
}
