.aside {
  float: left;
  /* height:px(1166); */
  width: 0.11667rem;
  background: #434c6c;
  color: white;
  font-size: 0.01333rem;
  line-height: 0.05rem;
  text-align: center; }
  .aside .user-img {
    text-align: center;
    background: white;
    width: 0.08333rem;
    height: 0.08333rem;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 0.08333rem; }
    .aside .user-img img {
      width: 80%;
      height: 80%;
      display: inline-block;
      vertical-align: middle; }
  .aside li {
    text-align: left;
    margin: 0.01667rem 0; }
    .aside li a {
      color: white;
      padding-left: 0.01333rem; }
      .aside li a img {
        display: inline-block;
        vertical-align: middle; }
