@function px($a){
  @return $a/1200*1rem;
}
.aside{
  float:left;
  /* height:px(1166); */
  width:px(140);
  background:#434c6c;
  color:white;
  font-size:px(16);
  line-height:px(60);
  text-align: center;
  .user-img{
    text-align: center;
    background: white;
    width:px(100);
    height:px(100);
    border-radius:50%;
    margin:0 auto;
    line-height: px(100);
    img{
      width:80%;
      height:80%;
      display:inline-block;
      vertical-align: middle;
    }
  }
  li{
    text-align:left;
    margin:px(20) 0;
    a{
      img{
        display: inline-block;
        vertical-align: middle;
      }
      color:white;
      padding-left: px(16);
    }
  }
}
