@function px($a){
  @return $a/1200*1rem;
}
.otherPlatform{
  padding:{
    left:px(16);
  }
  line-height: px(40);
  &>h1{
    line-height: px(44);
    border:{
      bottom:1px dashed #c1c1c1;
    }
    font:{
      size:12px;
    }
  }
  &>p{
    padding:{
      top:px(22);
    }
    line-height: px(40);
    span,select,input{
      height:px(40);
      color:#c1c1c1;
    }
    span{
      width:px(120);
      display:inline-block;
    }
    input{
      padding:{
        left:px(14);
      }
      width:px(340);
    }
  }
  &>input[type='button']{
    width:px(338);
    height:px(42);
    background:#5dd1cf;
    color:white;
    border:none;
    font:{
      size:20px;
    }
    display: block;
    margin:px(26) auto px(6);
  }
  &>h2{
    font:{
      size:12px;
    }
    margin:0 auto;
    width:px(338);
    line-height: px(20);
    color:#c1c1c1;
  }
  .platform-status{
    input{
      width:auto;
      vertical-align: middle;
    }
    label{
      margin:{
        left:px(6);
        right:px(16);
      }
    }
  }
}
