.otherPlatform {
  padding-left: 0.01333rem;
  line-height: 0.03333rem; }
  .otherPlatform > h1 {
    line-height: 0.03667rem;
    border-bottom: 1px dashed #c1c1c1;
    font-size: 0.01rem; }
  .otherPlatform > p {
    padding-top: 0.01833rem;
    line-height: 0.03333rem; }
    .otherPlatform > p span, .otherPlatform > p select, .otherPlatform > p input {
      height: 0.03333rem;
      color: #c1c1c1; }
    .otherPlatform > p span {
      width: 0.1rem;
      display: inline-block; }
    .otherPlatform > p input {
      padding-left: 0.01167rem;
      width: 0.28333rem; }
  .otherPlatform > input[type='button'] {
    width: 0.28167rem;
    height: 0.035rem;
    background: #5dd1cf;
    color: white;
    border: none;
    font-size: 0.01667rem;
    display: block;
    margin: 0.02167rem auto 0.005rem; }
  .otherPlatform > h2 {
    font-size: 0.01rem;
    margin: 0 auto;
    width: 0.28167rem;
    line-height: 0.01667rem;
    color: #c1c1c1; }
  .otherPlatform .platform-status input {
    width: auto;
    vertical-align: middle; }
  .otherPlatform .platform-status label {
    margin-left: 0.005rem;
    margin-right: 0.01333rem; }
