/*reset public-css start*/
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  background: #f4f4f4;
  padding-bottom: 0.46875rem;
  font-size: medium; }

a {
  color: black;
  text-decoration: none; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  display: block; }

input:focus {
  outline: none; }

/*reset public-css over*/
/*public-css start*/
.container {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden; }

.a-link-active {
  display: block;
  width: 100%;
  height: 100%; }

.media-search {
  overflow: hidden; }

.media-search {
  padding-top: 18px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #ebebeb; }
  .media-search > p:nth-child(1) {
    float: left;
    overflow: hidden;
    margin-top: 24px;
    margin-left: 16px;
    font-size: 12px;
    color: #d9d9d9;
    line-height: 1; }
  .media-search > p:nth-child(2) {
    float: right;
    overflow: hidden; }
    .media-search > p:nth-child(2) [type] {
      float: left;
      height: 37px; }
    .media-search > p:nth-child(2) [type=text] {
      width: 294px;
      border: 1px solid #e7e7e7;
      border-right: none;
      padding-left: 38px; }
    .media-search > p:nth-child(2) [type=button] {
      width: 114px;
      margin-right: 17px;
      background: #33c9dd;
      border: none;
      color: white; }

.media-scope {
  padding: 16px;
  font-size: 12px;
  height: 30px;
  text-align: center;
  line-height: 30px; }
  .media-scope > li {
    float: left;
    margin-right: 16px;
    overflow: hidden; }
    .media-scope > li > span {
      float: left;
      background: #faf9fd;
      padding: 0 12px;
      border: 1px solid #ebebeb; }
    .media-scope > li > select {
      height: 32px;
      float: left;
      border: 1px solid #ebebeb;
      font-size: 12px; }

.media-list {
  width: 986px;
  line-height: 42px;
  border: 1px solid #f0f0f0;
  text-align: center;
  border-collapse: collapse;
  margin-left: 15px;
  margin-bottom: 16px;
  font-size: 14px; }

.media-list tr:nth-child(2n+1) {
  background: #fafafa; }

.media-list tr:first-child {
  background: #faf9fd; }

.media-list td {
  border: 1px solid #f0f0f0; }

.editor-button-all {
  overflow: hidden;
  width: 210px;
  margin: 0 auto; }

.editor-button-all li {
  float: left;
  margin: 0 10px; }

.editor-button-all li:first-child a {
  color: #76cbe5; }

.editor-button-all li:nth-child(2) {
  color: #fe6434; }

.editor-button-all li:nth-child(3) {
  color: #50ca71; }

.editor-button-all li:nth-child(4) {
  color: #76cbe5; }

.editor-button-part span {
  float: left;
  margin: 0 10px;
  color: #76cbe5; }

.editor-button-part {
  text-align: right; }

.editor-button-part input {
  margin-right: 20px; }

.batch-process {
  position: relative; }

.batch-process > ul {
  overflow: hidden;
  margin-bottom: 26px; }

.batch-process > ul > li {
  float: right;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-right: 16px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 24px; }

.batch-process li:nth-child(1) {
  color: #8ad3e8; }

.batch-process li:nth-child(2) {
  color: #ff855e; }

.batch-process li:nth-child(3) {
  color: #56cc76; }

.batch-process li:nth-child(4) {
  color: #c4d1c8; }

.batch-process > p {
  width: 340px;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 18px;
  background: #5cc1df;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 10px; }

.batch-process > p > a {
  color: white; }

.batch-process > h1 {
  position: absolute;
  right: 16px;
  bottom: 22px;
  color: #5cc1df;
  border: 1px solid;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  width: 98px;
  height: 30px;
  border-radius: 5px; }

.add-media {
  font-size: 14px; }
  .add-media > ul {
    padding-left: 16px;
    color: #ababab; }
    .add-media > ul li {
      padding-top: 24px;
      line-height: 42px; }
      .add-media > ul li span {
        display: inline-block;
        width: 120px; }
      .add-media > ul li select, .add-media > ul li input {
        height: 42px;
        color: #ababab;
        vertical-align: middle; }
      .add-media > ul li [type='checkbox'] {
        width: 18px;
        height: 18px; }
      .add-media > ul li input[type='text'] {
        padding-left: 14px;
        width: 328px; }
      .add-media > ul li > label {
        color: black;
        margin: 0 26px 0 10px; }
    .add-media > ul .input-img {
      position: relative; }
      .add-media > ul .input-img img {
        width: 116px;
        height: 116px;
        display: inline-block;
        vertical-align: top;
        border: 1px dashed #eee; }
      .add-media > ul .input-img [type='file'] {
        display: block;
        margin: 16px 118px 0;
        width: 204px;
        height: 40px;
        border: 1px solid;
        position: relative;
        z-index: 1;
        opacity: 0; }
      .add-media > ul .input-img p {
        font-size: 10px;
        padding-left: 115px; }
      .add-media > ul .input-img h1 {
        position: absolute;
        width: 206px;
        height: 42px;
        bottom: 42px;
        left: 118px;
        background: #5cc1df;
        color: white;
        text-align: center;
        line-height: 40px;
        font-size: 16px; }
  .add-media > p {
    width: 340px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    background: #5cc1df;
    margin: 0 auto;
    border-radius: 5px; }

/*public-css over*/
