/*reset public-css start*/
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  background: #f4f4f4;
  padding-bottom: 0.46875rem;
  font-size: 14px; }

a {
  color: black;
  text-decoration: none; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  display: block; }

input:focus {
  outline: none; }

/*reset public-css over*/
/*public-css start*/
.container {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden; }

.a-link-active {
  display: block;
  width: 100%;
  height: 100%; }

.media-search {
  overflow: hidden; }

.media-search {
  padding-top: 18px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #ebebeb; }
  .media-search > p:nth-child(1) {
    float: left;
    overflow: hidden;
    margin-top: 24px;
    margin-left: 16px;
    font-size: 12px;
    color: #d9d9d9;
    line-height: 1; }
  .media-search > p:nth-child(2) {
    float: right;
    overflow: hidden; }
    .media-search > p:nth-child(2) [type] {
      float: left;
      height: 37px; }
    .media-search > p:nth-child(2) [type=text] {
      width: 294px;
      border: 1px solid #e7e7e7;
      border-right: none;
      padding-left: 38px; }
    .media-search > p:nth-child(2) [type=button] {
      width: 114px;
      margin-right: 17px;
      background: #33c9dd;
      border: none;
      color: white; }

.media-scope {
  padding: 16px;
  font-size: 12px;
  height: 30px;
  text-align: center;
  line-height: 30px; }
  .media-scope > li {
    float: left;
    margin-right: 16px;
    overflow: hidden; }
    .media-scope > li > span {
      float: left;
      background: #faf9fd;
      padding: 0 12px;
      border: 1px solid #ebebeb; }
    .media-scope > li > select {
      height: 32px;
      float: left;
      border: 1px solid #ebebeb;
      font-size: 12px; }

.media-list {
  width: 986px;
  line-height: 42px;
  border: 1px solid #f0f0f0;
  text-align: center;
  border-collapse: collapse;
  margin-left: 15px;
  margin-bottom: 16px;
  font-size: 14px; }

.media-list tr:nth-child(2n+1) {
  background: #fafafa; }

.media-list tr:first-child {
  background: #faf9fd; }

.media-list td {
  border: 1px solid #f0f0f0; }

.editor-button-all {
  overflow: hidden;
  width: 210px;
  margin: 0 auto; }

.editor-button-all li {
  float: left;
  margin: 0 10px; }

.editor-button-all li:first-child a {
  color: #76cbe5; }

.editor-button-all li:nth-child(2) {
  color: #fe6434; }

.editor-button-all li:nth-child(3) {
  color: #50ca71; }

.editor-button-all li:nth-child(4) {
  color: #76cbe5; }

.editor-button-part span {
  float: left;
  margin: 0 10px;
  color: #76cbe5; }

.editor-button-part {
  text-align: right; }

.editor-button-part input {
  margin-right: 20px; }

.batch-process {
  position: relative; }

.batch-process > ul {
  overflow: hidden;
  margin-bottom: 26px; }

.batch-process > ul > li {
  float: right;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-right: 16px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 24px; }

.batch-process li:nth-child(1) {
  color: #8ad3e8; }

.batch-process li:nth-child(2) {
  color: #ff855e; }

.batch-process li:nth-child(3) {
  color: #56cc76; }

.batch-process li:nth-child(4) {
  color: #c4d1c8; }

.batch-process > p {
  width: 340px;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 18px;
  background: #5cc1df;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 10px; }

.batch-process > p > a {
  color: white; }

.batch-process > h1 {
  position: absolute;
  right: 16px;
  bottom: 22px;
  color: #5cc1df;
  border: 1px solid;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  width: 98px;
  height: 30px;
  border-radius: 5px; }

.add-item {
  font-size: 14px;
  padding-left: 16px;
  color: #ababab; }
  .add-item li {
    padding-top: 24px;
    line-height: 42px; }
    .add-item li span {
      display: inline-block;
      width: 120px; }
    .add-item li select, .add-item li input {
      height: 42px;
      color: #ababab;
      vertical-align: middle; }
    .add-item li [type='checkbox'] {
      width: 18px;
      height: 18px; }
    .add-item li input[type='text'] {
      padding-left: 14px;
      width: 328px; }
    .add-item li label {
      color: black;
      margin: 0 26px 0 10px; }
  .add-item .input-img {
    position: relative; }
    .add-item .input-img img {
      width: 116px;
      height: 116px;
      display: inline-block;
      vertical-align: top; }
    .add-item .input-img [type='file'] {
      display: block;
      margin: 16px 118px 0;
      width: 204px;
      height: 40px;
      border: 1px solid;
      position: relative;
      z-index: 1;
      opacity: 0; }
    .add-item .input-img p {
      font-size: 10px;
      padding-left: 115px; }
    .add-item .input-img h1 {
      position: absolute;
      width: 206px;
      height: 42px;
      bottom: 42px;
      left: 118px;
      background: #5cc1df;
      color: white;
      text-align: center;
      line-height: 40px;
      font-size: 16px; }
  .add-item li:last-child {
    width: 340px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    background: #5cc1df;
    margin: 24px auto 0;
    border-radius: 5px;
    padding: 0; }

.content {
  float: left;
  width: 1016px;
  height: 1166px;
  margin-left: 14px;
  background: white; }

.root-media-list > h1 {
  line-height: 40px;
  color: #d0d0d0;
  font-size: 14px;
  background: #f4f4f4; }

.root-media-list > h2 {
  line-height: 40px;
  margin-left: 16px;
  font-size: 15px; }

.root-media-list .sub-tabs {
  padding-left: 16px;
  border-bottom: 1px solid #f7f7f7;
  overflow: hidden; }
  .root-media-list .sub-tabs li {
    width: 112px;
    line-height: 46px;
    float: left;
    text-align: center; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: bold; }
  .popup > div {
    width: 420px;
    height: 312px;
    border-radius: 10px;
    background: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .popup > div > span {
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 40px;
      right: 10px;
      top: 6px; }
    .popup > div h1 {
      line-height: 62px;
      font-size: 18px; }
    .popup > div img {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin: 10px 0; }
    .popup > div p {
      line-height: 40px;
      padding-left: 150px;
      text-align: left; }
      .popup > div p span {
        margin: 0 18px;
        color: #b1b1b1; }

/*public-css over*/
