/*reset public-css start*/
html {
  font-size: 1200px; }

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  background: #f4f4f4;
  font-size: 14px; }

a {
  color: black;
  text-decoration: none; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  display: block; }

input:focus {
  outline: none; }

select {
  border: solid 1px #f0f0f0;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 0.01333rem;
  border-radius: 0;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent; }

/*reset public-css over*/
/*public-css start*/
.hide {
  display: none; }

.container {
  width: 0.99167rem;
  margin: 0 auto;
  overflow: hidden; }

.a-link-active {
  display: block;
  width: 100%;
  height: 100%; }

.valid {
  color: red;
  font-size: 12px;
  line-height: normal;
  vertical-align: bottom; }

/*public-css over*/
