/*reset public-css start*/
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  background: #f4f4f4;
  padding-bottom: 0.46875rem;
  font-size: 14px; }

a {
  color: black;
  text-decoration: none; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  display: block; }

input:focus {
  outline: none; }

select {
  border: solid 1px #f0f0f0;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 16px;
  border-radius: 0;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent; }

/*reset public-css over*/
/*public-css start*/
.hide {
  display: none; }

.container {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden; }

.a-link-active {
  display: block;
  width: 100%;
  height: 100%; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: bold; }
  .popup > div {
    width: 420px;
    height: 312px;
    border-radius: 10px;
    background: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .popup > div > span {
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 40px;
      right: 10px;
      top: 6px; }
    .popup > div h1 {
      line-height: 62px;
      font-size: 18px; }
    .popup > div img {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin: 10px 0; }
    .popup > div p {
      line-height: 40px;
      padding-left: 150px;
      text-align: left; }
      .popup > div p span {
        margin: 0 18px;
        color: #b1b1b1; }

.valid {
  color: red;
  font-size: 12px;
  margin: 0 16px;
  line-height: normal;
  vertical-align: bottom; }

/*public-css over*/
