.second-confirm {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .second-confirm > div {
    width: 0.35rem;
    height: 0.255rem;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    .second-confirm > div h1 {
      font-size: 0.015rem;
      line-height: 0.06167rem;
      position: relative; }
      .second-confirm > div h1 span {
        position: absolute;
        right: 0.01667rem;
        font-size: 0.01667rem;
        line-height: 0.05rem;
        cursor: pointer; }
    .second-confirm > div p {
      font-size: 0.01167rem;
      margin-top: 0.035rem;
      padding: 0 0.025rem; }
    .second-confirm > div h2 {
      position: absolute;
      bottom: 0.01667rem;
      width: 100%; }
      .second-confirm > div h2 span {
        display: inline-block;
        font-size: 0.015rem;
        line-height: 0.03333rem;
        width: 0.08333rem;
        color: white;
        background: #5cc1df;
        border-radius: 0.00417rem;
        margin: 0 0.01333rem;
        cursor: pointer; }
