.second-confirm {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .second-confirm > div {
    width: 420px;
    height: 306px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    .second-confirm > div h1 {
      font-size: 18px;
      line-height: 74px;
      position: relative; }
      .second-confirm > div h1 span {
        position: absolute;
        right: 20px;
        font-size: 20px;
        line-height: 60px; }
    .second-confirm > div p {
      font-size: 14px;
      margin-top: 42px;
      padding: 0 30px; }
    .second-confirm > div h2 {
      position: absolute;
      bottom: 20px;
      width: 100%; }
      .second-confirm > div h2 span {
        display: inline-block;
        font-size: 18px;
        line-height: 40px;
        width: 100px;
        color: white;
        background: #5cc1df;
        border-radius: 5px;
        margin: 0 16px; }
