.operate-buttons {
  overflow: hidden;
  margin: 0 auto;
  width: 160px; }
  .operate-buttons > li {
    width: 40px;
    float: left;
    line-height: 18px;
    font-size: 14px;
    text-align: center; }
