@function px($a){
  @return $a/1200*1rem;
}
.tingting-search{
  select{
    float:left;
    width:px(76);
    height:px(40);
    background:#faf9fd;
  }
}
.tingting-scope{
  padding:px(16);
  overflow: hidden;
  li{
    float:left;
    margin:{
      right:px(13);
    }
    overflow: hidden;
    span,input,select{
      height:px(30);
      float:left;
      border:1px solid #ebebeb;
      font:{
        size:px(12);
      }
    }
    span{
      background:#f9f9fd;
      line-height: px(30);
      text-align:center;
      padding: 0 px(10);
      border-right:none;
    }
    select{
      height:px(32);
    }
    input{
      padding:{
        left:px(22);
      }
      border-right:none;
    }

  }
  .search-button{
    background:#76cbe5;
    color:white;
    border:none;
    float:left;
    line-height: px(32);
    height:px(32);
  }
}
.tingting-notice{
  padding:{
    left:px(16);
  }
}
.tingting-list-button{
  &>span{
    color:#5cc1df;
    padding: 0 px(12);
    cursor: pointer;
  }
  .off{
    color:#ff9979;
    cursor: pointer;
    span{
      color:#ababab;
      margin-left:px(10);
      cursor:auto;
    }
  }
}
