.tingting-search{
  select{
    float:left;
    width:76px;
    height:40px;
    background:#faf9fd;
  }
}
.tingting-scope{
  padding:16px;
  overflow: hidden;
  li{
    float:left;
    margin:{
      right:13px;
    }
    overflow: hidden;
    span,input,select{
      height:30px;
      float:left;
      border:1px solid #ebebeb;
      font:{
        size:12px;
      }
    }
    span{
      background:#f9f9fd;
      line-height: 30px;
      text-align:center;
      padding: 0 10px;
    }
    select{
      height:32px;
    }
    input{
      padding:{
        left:22px;
      }
    }
  }
  .search-button{
    background:#76cbe5;
    color:white;
  }
}
.tingting-notice{
  padding:{
    left:16px;
  }
}
