.tingting-search select {
  float: left;
  width: 0.06333rem;
  height: 0.03333rem;
  background: #faf9fd; }

.tingting-scope {
  padding: 0.01333rem;
  overflow: hidden; }
  .tingting-scope li {
    float: left;
    margin-right: 0.01083rem;
    overflow: hidden; }
    .tingting-scope li span, .tingting-scope li input, .tingting-scope li select {
      height: 0.025rem;
      float: left;
      border: 1px solid #ebebeb;
      font-size: 12px; }
    .tingting-scope li span {
      background: #f9f9fd;
      line-height: 0.025rem;
      text-align: center;
      padding: 0 0.00833rem;
      border-right: none; }
    .tingting-scope li select {
      height: 0.02667rem; }
    .tingting-scope li input {
      padding-left: 0.01833rem;
      border-right: none; }
  .tingting-scope .search-button {
    background: #76cbe5;
    color: white;
    border: none;
    float: left;
    line-height: 0.02667rem;
    height: 0.02667rem; }

.tingting-notice {
  padding-left: 0.01333rem; }

.tingting-list-button > span {
  color: #5cc1df;
  padding: 0 0.01rem;
  cursor: pointer; }

.tingting-list-button .off {
  color: #ff9979;
  cursor: pointer; }
  .tingting-list-button .off span {
    color: #ababab;
    margin-left: 0.00833rem;
    cursor: auto; }
