.tingting-search select {
  float: left;
  width: 76px;
  height: 40px;
  background: #faf9fd; }

.tingting-scope {
  padding: 16px;
  overflow: hidden; }
  .tingting-scope li {
    float: left;
    margin-right: 13px;
    overflow: hidden; }
    .tingting-scope li span, .tingting-scope li input, .tingting-scope li select {
      height: 30px;
      float: left;
      border: 1px solid #ebebeb;
      font-size: 12px; }
    .tingting-scope li span {
      background: #f9f9fd;
      line-height: 30px;
      text-align: center;
      padding: 0 10px;
      border-right: none; }
    .tingting-scope li select {
      height: 32px; }
    .tingting-scope li input {
      padding-left: 22px;
      border-right: none; }
  .tingting-scope .search-button {
    background: #76cbe5;
    color: white;
    border: none;
    float: left;
    line-height: 32px;
    height: 32px; }

.tingting-notice {
  padding-left: 16px; }
