@function px($a){
  @return $a/1200*1rem;
}
.popup{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  font-size: 16px;
  font-weight: bold;
  &>div{
    width:px(420);
    height:px(312);
    border-radius: px(10);
    background: white;
    text-align: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    &>span{
      position:absolute;
      width:px(30);
      height:px(30);
      font-size:40px;
      right:px(10);
      top:px(6);
    }

    h1{
      line-height: px(62);
      font-size: 18px;
    }
    img{
      width:px(80);
      height:px(80);
      display: inline-block;
      margin: px(10) 0;
    }
    p{
      line-height: px(40);
      text-align: center;
      span{
        margin:0 px(18);
        color:#b1b1b1;
      }
    }
  }
}

.home{
  background: white;
  min-height: px(700);
  &>h1{
    line-height:px(40);
    color:#d0d0d0;
    font-size:14px;
    background:#f4f4f4;
  }
  &>h2{
    line-height: px(40);
    margin:{
      left:px(16);
    }
    font:{
      size:15px;
    }
  }
  .data-situation{
    height:px(126);
    padding-left:px(45);
    overflow: hidden;
    border-bottom:16px solid #f7f7f7;
    border:{
      top:1px solid #f7f7f7;
    }
    li{
      float:left;
      margin:{
        right:px(110);
      }
      &>h1{
        line-height: px(56);
        font:{
          size:15px;
        }
      }
      &>p{
        line-height: 1;
        font-size:30px;
      }
    }
  }
  .user-situation{
    &>h1{
      line-height: px(72);
      margin:{
        left:px(16);
      }
      font:{
        size:15px;
      }
      &>span{
        float:right;
        margin:{
          right:px(16);
        }
        width:px(63);
        line-height: px(34);
        background:#5cc1df;
        text-align: center;
        color:white;
        margin-top:px(18);
      }
      &>input{
        float:right;
        margin-top:px(18);
        padding:{
          left:px(34);
        }
        width:px(347);
        height:px(34);
        border:1px solid #f0f0f0;
      }
      &>select{
        float:right;
        height:px(36);
        border:1px solid #f0f0f0;
        border-right:none;
        margin-top:px(18);
      }
    }
    .home-search-scope{
      padding:{
        left:px(16);
        top:px(10);
        bottom:px(13);
      }
      border-top:1px solid #f7f7f7;
      span{
        display: inline-block;
        width:px(48);
        line-height:px(28);
        border:1px solid #f0f0f0;
        border-right:none;
        background: #faf9fd;
        text-align: center;
        vertical-align: middle;
      }
      select{
        height:px(30);
        margin:{
          right:px(18);
        }
        border-color:#f0f0f0;
      }
    }
    .home-user-list{
      margin: 0 auto;
      border:1px solid #f0f0f0;
      width:97%;
      border-collapse: collapse;
      line-height: px(44);
      text-align: center;
      td{
        border:1px solid #f0f0f0;
      }
      tr:nth-child(2n+1){
        background: #fafafa;
      }
      tr:first-child{
        background: #faf9fd;
      }
    }
    .home-list-members{
      li{
        float:left;
        margin: 0 px(18);
        color: #5cc1df;
        cursor: pointer;
      }
    }
  }
}
.media-search{
  overflow: hidden;
}
.media-search{
  padding:{
    top:px(18);
    bottom:px(16);
  }
  border:{
    bottom:1px dashed #ebebeb;
  }
  &>p:nth-child(1){
    float:left;
    overflow: hidden;
    margin:{
      top:px(24);
      left:px(16);
    }
    font:{
      size:px(12);
    }
    color:#d9d9d9;
    line-height: 1;
  }
  &>p:nth-child(2){
    float:right;
    overflow: hidden;
    [type]{
      float:left;
      height:px(37);
    }
    [type=text]{
      width:px(294);
      border:1px solid #e7e7e7;
      border-right:none;
      padding-left:px(38);
    }
    [type=button]{
      width:px(114);
      margin-right:px(17);
      background:#33c9dd;
      border:none;
      color:white;
    }
  }
}
.media-scope{
  padding: px(16);
  font:{
    size:12px;
  }
  height:px(30);
  text-align: center;
  line-height: px(30);
  &>li{
    float:left;
    margin:{
      right:px(16);
    }
    overflow:hidden;
    &>span{
      float:left;
      background:#faf9fd;
      padding:0 px(12);
      border:1px solid #ebebeb;
      border-right:none;
    }
    &>select{
      height:px(32);
      float:left;
      border:1px solid #ebebeb;
      font:{
        size:12px;
      }
    }
  }
}
.editor-button-all{
  overflow: hidden;
  width: px(210);
  margin:0 auto;
}
.editor-button-all li{
  float:left;
  margin:0 px(10);
}
.editor-button-all li:first-child{
  a{
    color:#76cbe5;
  }
}
.editor-button-all li:nth-child(2){
  color:#fe6434;
}
.editor-button-all li:nth-child(3){
  color:#50ca71;
}
.editor-button-all li:nth-child(4){
  color:#76cbe5;
}
.editor-button-part span{
  float:left;
  margin:0 px(10);
  color:#76cbe5;
}
.editor-button-part{
  text-align: right;
}
.editor-button-part input{
  margin-right:px(20);
}
.batch-process{
  position:relative;
}
.batch-process>ul{
  overflow: hidden;
  margin-bottom:px(26);
}
.batch-process>ul>li{
  float:right;
  font-size:16px;
  line-height: px(36);
  text-align:center;
  margin-right:px(16);
  border:1px solid;
  border-radius:px(5);
  padding:0 px(24);
}
.batch-process li:nth-child(1){
  color:#8ad3e8;
}
.batch-process li:nth-child(2){
  color:#ff855e;
}
.batch-process li:nth-child(3){
  color:#56cc76;
}
.batch-process li:nth-child(4){
  color:#c4d1c8;
}
.batch-process>p{
  width:px(340);
  height:px(50);
  color:white;
  text-align:center;
  font-size:18px;
  background:#5cc1df;
  margin:0 auto;
  line-height: px(50);
  border-radius:px(10);

}
.batch-process>p>a{
  color:white;
}
.batch-process>h1{
  position:absolute;
  right:px(16);
  bottom:px(22);
  color:#5cc1df;
  border:1px solid;
  font-size:16px;
  text-align:center;
  line-height:px(30);
  width:px(98);
  height:px(30);
  border-radius:px(5);
}
.add-item{
  font:{
    size:14px;
  }
  padding:{
    left:px(16);
  }
  color:#ababab;
  li{
    padding:{
      top:px(24);
    }
    line-height: px(42);
    span{
      display:inline-block;
      width:px(120);
    }
    select,input{
      height:px(42);
      color:#ababab;
      vertical-align: middle;
    }
    [type='checkbox']{
      width:px(18);
      height:px(18);
    }
    input[type='text']{
      padding:{
        left:px(14);
      }
      width:px(328);
    }
    label{
      color:black;
      margin: 0 px(26) 0 px(10);
    }
  }
  .input-img{
    position:relative;
    img{
      width:px(116);
      height:px(116);
      display:inline-block;
      vertical-align:top;
    }
    [type='file']{
      display:block;
      margin:px(16) px(118) 0;
      width:px(204);
      height:px(40);
      border:1px solid;
      position:relative;
      z-index: 1;
      opacity:0;
    }
    p{
      font:{
        size:10px;
      }
      padding:{
        left:px(115);
      }
    }
    h1{
      position:absolute;
      width:px(206);
      height:px(42);
      bottom:px(42);
      left:px(118);
      background:#5cc1df;
      color:white;
      text-align:center;
      line-height:px(40);
      font:{
        size:16px;
      }
    }
  }
  li:last-child{
    width:px(340);
    line-height:px(40);
    text-align:center;
    color:white;
    font:{
      size:18px;
    }
    background:#5cc1df;
    margin:px(24) auto 0;
    border-radius:px(5);
    padding:0;
  }
}
