.home > h1 {
  line-height: 40px;
  color: #d0d0d0;
  font-size: 14px;
  background: #f4f4f4; }

.home > h2 {
  line-height: 40px;
  margin-left: 16px;
  font-size: 15px; }

.home .data-situation {
  height: 126px;
  padding-left: 45px;
  overflow: hidden;
  border-bottom: 16px solid #f7f7f7;
  border-top: 1px solid #f7f7f7; }
  .home .data-situation li {
    float: left;
    margin-right: 110px; }
    .home .data-situation li > h1 {
      line-height: 56px;
      font-size: 15px; }
    .home .data-situation li > p {
      line-height: 1;
      font-size: 30px; }

.home .user-situation > h1 {
  line-height: 72px;
  margin-left: 16px;
  font-size: 15px; }
  .home .user-situation > h1 > span {
    float: right;
    margin-right: 16px;
    width: 63px;
    line-height: 34px;
    background: #5cc1df;
    text-align: center;
    color: white;
    margin-top: 18px; }
  .home .user-situation > h1 > input {
    float: right;
    margin-top: 18px;
    padding-left: 34px;
    width: 347px;
    height: 34px;
    border: 1px solid #f7f7f7; }
  .home .user-situation > h1 > select {
    float: right;
    height: 36px;
    border: 1px solid #f7f7f7;
    margin-top: 18px; }

.home .user-situation .home-search-scope {
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 13px;
  border-top: 1px solid #f7f7f7; }
  .home .user-situation .home-search-scope span {
    display: inline-block;
    width: 48px;
    line-height: 28px;
    border: 1px solid #f7f7f7;
    background: #faf9fd;
    text-align: center; }
  .home .user-situation .home-search-scope select {
    height: 30px;
    margin-right: 18px;
    border-color: #f0f0f0; }

.home .user-situation .home-user-list {
  margin: 0 auto;
  border: 1px solid #f0f0f0;
  width: 986px;
  border-collapse: collapse;
  line-height: 44px;
  text-align: center; }
  .home .user-situation .home-user-list td {
    border: 1px solid #f0f0f0; }
  .home .user-situation .home-user-list tr:nth-child(2n+1) {
    background: #fafafa; }
  .home .user-situation .home-user-list tr:first-child {
    background: #faf9fd; }

.home .user-situation .home-list-members li {
  float: left;
  margin: 0 18px;
  color: #5cc1df;
  cursor: pointer; }
