.scene-manage > h1 {
  line-height: 0.03667rem;
  margin: 0 0.01333rem;
  border-bottom: 1px dashed #f0f0f0;
  font-size: 0.01rem;
  color: #b9b9b9; }

.scene-manage .scene-manage-button {
  text-align: center; }
  .scene-manage .scene-manage-button p {
    display: inline-block;
    width: 0.28333rem;
    line-height: 0.03333rem;
    color: white;
    cursor: pointer;
    text-align: center;
    background: #5cc1df;
    font-size: 0.015rem;
    margin-right: 0.01167rem;
    border-radius: 0.00417rem; }
  .scene-manage .scene-manage-button span {
    vertical-align: bottom;
    font-size: 0.00833rem;
    color: #5cc1df;
    cursor: pointer; }

.scene-manage-list {
  width: 97%;
  margin: 0 auto;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
  text-align: center;
  line-height: 0.035rem;
  margin-top: 0.01333rem;
  margin-bottom: 0.02167rem; }
  .scene-manage-list thead > tr {
    background: #faf9fd;
    color: #c5c4c6; }
  .scene-manage-list tbody > tr:nth-child(2n) {
    background: #fafafa; }
  .scene-manage-list td {
    border: 1px solid #f0f0f0; }
    .scene-manage-list td p {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.00917rem;
      cursor: pointer; }
  .scene-manage-list tbody td:nth-child(2) {
    color: #5cc1df; }
  .scene-manage-list tbody td:first-child {
    cursor: pointer; }
  .scene-manage-list tbody td:last-child {
    color: #5cc1df; }
    .scene-manage-list tbody td:last-child .del {
      color: #fe6a3b; }
  .scene-manage-list tbody tr .scene-manage-detail {
    padding-left: 0.01333rem;
    text-align: left;
    color: black;
    cursor: auto; }
    .scene-manage-list tbody tr .scene-manage-detail > span {
      padding: 0 16px 16; }
