@function px($a){
  @return $a/1200*1rem;
}
.editor-music{
  &>h1{
    line-height:px(40);
    color:#d0d0d0;
    font-size:px(14);
    background:#f4f4f4;
  }
  &>h2{
    line-height: px(40);
    margin:{
      left:px(16);
    }
    font:{
      size:px(15);
    }
  }

}
.operate-buttons{
  overflow: hidden;
  margin:0 auto;
  width:px(160);
  &>li{
    width:px(40);
    cursor:pointer;
    float:left;
    line-height: px(18);
    font:{
      size:px(14);
    }
    text-align: center;
  }
}
.root-media-list{
  background: white;
  padding-bottom:px(60);
  min-height:700px;
  &>h1{
    line-height:px(40);
    color:#d0d0d0;
    font-size:px(14);
    background:#f4f4f4;
  }
  &>h2{
    line-height: px(40);
    margin:{
      left:px(16);
    }
    font:{
      size:px(15);
    }
  }
  .sub-tabs{
    padding-left:px(16);
    border-bottom:1px solid #f7f7f7;
    overflow:hidden;
    li{
      width:px(112);
      line-height: px(46);
      float:left;
      text-align:center;
    }
  }
}

.batch-process{
  position:relative;
}
.batch-process>ul{
  overflow: hidden;
  margin-bottom:px(26);
}
.batch-process>ul>li{
  float:right;
  cursor:pointer;
  font-size:px(16);
  line-height: px(36);
  text-align:center;
  margin-right:px(16);
  border:1px solid;
  border-radius:px(5);
  padding:0 px(24);
}
.batch-process li:nth-child(1){
  color:#8ad3e8;
}
.batch-process li:nth-child(2){
  color:#ff855e;
}
.batch-process li:nth-child(3){
  color:#56cc76;
}
.batch-process li:nth-child(4){
  color:#c4d1c8;
}
.batch-process li:nth-child(5){
  color:#5cc1df;
}
.batch-process>p{
  width:px(340);
  height:px(50);
  color:white;
  text-align:center;
  font-size:px(18);
  background:#5cc1df;
  margin:0 auto;
  line-height: px(50);
  border-radius:px(10);
}
.batch-process>p>a{
  color:white;
}
.batch-process>h1{
  position:absolute;
  cursor:pointer;
  right:px(16);
  bottom:px(22);
  color:#5cc1df;
  border:1px solid;
  font-size:px(16);
  text-align:center;
  line-height:px(30);
  width:px(98);
  height:px(30);
  border-radius:px(5);
}
