.editor-music > h1 {
  line-height: 0.03333rem;
  color: #d0d0d0;
  font-size: 0.01167rem;
  background: #f4f4f4; }

.editor-music > h2 {
  line-height: 0.03333rem;
  margin-left: 0.01333rem;
  font-size: 0.0125rem; }

.operate-buttons {
  overflow: hidden;
  margin: 0 auto;
  width: 0.13333rem; }
  .operate-buttons > li {
    width: 0.03333rem;
    cursor: pointer;
    float: left;
    line-height: 0.015rem;
    font-size: 0.01167rem;
    text-align: center; }

.root-media-list {
  background: white;
  padding-bottom: 0.05rem;
  min-height: 700px; }
  .root-media-list > h1 {
    line-height: 0.03333rem;
    color: #d0d0d0;
    font-size: 0.01167rem;
    background: #f4f4f4; }
  .root-media-list > h2 {
    line-height: 0.03333rem;
    margin-left: 0.01333rem;
    font-size: 0.0125rem; }
  .root-media-list .sub-tabs {
    padding-left: 0.01333rem;
    border-bottom: 1px solid #f7f7f7;
    overflow: hidden; }
    .root-media-list .sub-tabs li {
      width: 0.09333rem;
      line-height: 0.03833rem;
      float: left;
      text-align: center; }

.batch-process {
  position: relative; }

.batch-process > ul {
  overflow: hidden;
  margin-bottom: 0.02167rem; }

.batch-process > ul > li {
  float: right;
  cursor: pointer;
  font-size: 0.01333rem;
  line-height: 0.03rem;
  text-align: center;
  margin-right: 0.01333rem;
  border: 1px solid;
  border-radius: 0.00417rem;
  padding: 0 0.02rem; }

.batch-process li:nth-child(1) {
  color: #8ad3e8; }

.batch-process li:nth-child(2) {
  color: #ff855e; }

.batch-process li:nth-child(3) {
  color: #56cc76; }

.batch-process li:nth-child(4) {
  color: #c4d1c8; }

.batch-process li:nth-child(5) {
  color: #5cc1df; }

.batch-process > p {
  width: 0.28333rem;
  height: 0.04167rem;
  color: white;
  text-align: center;
  font-size: 0.015rem;
  background: #5cc1df;
  margin: 0 auto;
  line-height: 0.04167rem;
  border-radius: 0.00833rem; }

.batch-process > p > a {
  color: white; }

.batch-process > h1 {
  position: absolute;
  cursor: pointer;
  right: 0.01333rem;
  bottom: 0.01833rem;
  color: #5cc1df;
  border: 1px solid;
  font-size: 0.01333rem;
  text-align: center;
  line-height: 0.025rem;
  width: 0.08167rem;
  height: 0.025rem;
  border-radius: 0.00417rem; }

.media-title {
  color: #5cc1df; }

.media-title:hover {
  text-decoration: underline; }
