@function px($a){
  @return $a/1200*1rem;
}
.editor-music{
  &>h1{
    line-height:px(40);
    color:#d0d0d0;
    font-size:14px;
    background:#f4f4f4;
  }
  &>h2{
    line-height: px(40);
    margin:{
      left:px(16);
    }
    font:{
      size:px(15);
    }
  }

}
.operate-buttons{
  overflow: hidden;
  margin:0 auto;
  width:px(160);
  &>li{
    width:px(40);
    float:left;
    line-height: px(18);
    font:{
      size:14px;
    }
    text-align: center;
  }
}
