.editor-music{
  &>h1{
    line-height:40px;
    color:#d0d0d0;
    font-size:14px;
    background:#f4f4f4;
  }
  &>h2{
    line-height: 40px;
    margin:{
      left:16px;
    }
    font:{
      size:15px;
    }
  }

}
.operate-buttons{
  overflow: hidden;
  margin:0 auto;
  width:160px;
  &>li{
    width:40px;
    float:left;
    line-height: 18px;
    font:{
      size:14px;
    }
    text-align: center;
  }
}
