.header {
  background: #434c6c;
  line-height: 36px; }
  .header p {
    float: right;
    margin-right: 8px;
    color: #abaeb6; }
  .header span {
    float: right;
    margin-left: 26px;
    color: #f6f7f8; }
