@function px($a){
  @return $a/1200*1rem;
}
.header{
  background: #434c6c;
  line-height: px(36);
  p{
    float:right;
    margin-right:px(8);
    color:#abaeb6;
  }
  span{
    float:right;
    margin-left:px(26);
    color:#f6f7f8;
  }
}
