.editor-voice .editor-voice-info > h3 {
  cursor: pointer; }

.editor-voice .editor-voice-info .add-voice-scope > li {
  overflow: hidden;
  padding-left: 0.01667rem; }
  .editor-voice .editor-voice-info .add-voice-scope > li > span {
    float: left;
    padding-left: 0;
    margin-left: 0; }
  .editor-voice .editor-voice-info .add-voice-scope > li > p {
    float: left; }
