@function px($a){
  @return $a/1200*1rem;
}
.editor-voice{
  .editor-voice-info{
    .add-voice-scope{
      &>li{
        overflow: hidden;
        padding-left:px(20);
        &>span{
          float:left;
          padding-left:0;
          margin-left:0;
        }
        &>p{
          float:left;
        }
      }
    }
  }
}
