@function px($a){
  @return $a/1200*1rem;
}
.voice-manage-search{
  padding:{
    left:px(16);
  }
  overflow: hidden;
  border-bottom: 1px dashed #f0f0f0;
  &>h1{
    font-size: 12px;
    color:#cdcdcd;
    float:left;
    margin:{
      top:px(22);
    }
  }
  &>ul{
    float:right;
    line-height: px(68);
    overflow: hidden;
    li{
      float:left;
      margin:{
        right:px(24);
      }
      [type='checkbox']{
        width:px(18);
        height:px(18);
        margin:0 px(5);
        vertical-align: middle;
      }
    }
    li:last-child{
      margin-right:px(16);
      &>span{
        width:px(85);
        line-height:px(36);
        display:inline-block;
        color:white;
        text-align: center;
        background: #5cc1df;
        vertical-align: middle;
        cursor:pointer;
      }
      &>input{
        vertical-align: middle;
        border:1px solid #e7e7e7;
        width:px(298);
        height:px(34);
        padding:{
          left:px(36);
        }
      }
    }
  }
}
.voice-manage-scope{
  padding:{
    left:px(16);
  }
  line-height: px(60);
  &>span{
    width:px(50);
    line-height:px(32);
    display:inline-block;
    text-align: center;
    background: #faf9fd;
    border:1px solid #ebebeb;
    border-right: none;
    vertical-align: middle;
  }
  &>select{
    vertical-align: middle;
    margin:{
      right:px(16);
    }
    height:px(34);
    border:1px solid #ebebeb;
  }
}
.voice-manage-list{
  margin:{
    left:px(16);
  }
  width:97%;
  border:1px solid #f0f0f0;
  border-collapse:collapse;
  line-height: px(40);
  text-align: center;
  thead{
    tr:first-child{
      background:#faf9fd;
    }
  }
  tbody:nth-child(2n){
    background: #fafafa;
  }
  thead:first-child{
    color:#bfbfc0;
  }
  td{
    border:1px solid #f0f0f0;
    p{
      border-bottom:1px solid #f0f0f0;
    }
    p:last-child{
      border-bottom:none;
    }
  }
  .voice-manage-list-detail{
    text-align: left;
      p{
        border:none;
        span{
          text-align: left;
          display:inline-block;
          width:px(80);
          margin-left:px(16);
        }
      }
  }
}
.voice-manage-buttons{
  padding:px(16) 0;
  li{
    width:px(96);
    line-height:px(30);
    color:#5cc1df;
    text-align: center;
    float:right;
    border: 1px solid;
    margin:{
      right:px(16);
    }
    cursor:pointer;
    border-radius:px(5);
  }
  overflow:hidden;
}
.voice-manage-add{
  text-align: center;
  p{
    display: inline-block;
    width:px(204);
    line-height:px(40);
    background: #5cc1df;
    font-size:18px;
    margin: 0 px(13);
    border-radius:px(5);
    color:white;
    cursor:pointer;
  }
  span{
    color:#5cc1df;
    font-size:12px;
    vertical-align:bottom;
    cursor:pointer;
  }
}
.button-mode1{
  display:inline-block;
  vertical-align: middle;
  li{
    float:left;
    margin-left: px(10);
    cursor:pointer;
  }
  li:nth-child(1){
    color:#8bd2e7;
  }
  li:nth-child(2){
    color:#41c565;
  }
  li:nth-child(3){
    color:#fe6737;
  }
}
.button-mode2{

}
.spread-array-spread:after{
  content:'';
  border:6px solid transparent;
  border-top-color:black;
  display:inline-block;
  vertical-align: middle;
  margin-left:px(10);
}
.spread-array-shrink:after{
  content:'';
  border:6px solid transparent;
  border-right-color:black;
  display:inline-block;
  vertical-align: middle;
  margin-left:px(10);
}
.voice-manage-list{
  .answer:after{
    content:'';
    height:100%;
    border-right:1px solid #f0f0f0;
    position:absolute;
    top:0;
    left:79%;
  }
  .answer{
    position: relative;
    max-width:px(300);
    line-height: px(30);
    text-align: left;
    span{
      display:inline-block;
      vertical-align: middle;
      height:100%;
      text-align: center;
    }
    span:first-child{
      width:79%;
      border-right:1px solid #f0f0f0;
      text-align: left;
    }
    span:last-child{
      width:20%;
      text-align: center;
    }
  }
}
.voice－answer{
  span{
    display:inline-block;
    vertical-align: middle;
    text-align: center;
  }
  span:first-child{
    width:79%;
    border-right:1px solid #f0f0f0;
  }
  span:last-child{
    width:20%;
  }
}
