@function px($a){
  @return $a/1200*1rem;
}
.fetch-notice{
  position:fixed;
  background: rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  top:0;
  &>div{
    width:px(420);
    height:px(306);
    background: white;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    h1{
      font-size:18px;
      line-height: px(74);
      position:relative;
      span{
        position:absolute;
        right:px(20);
        font-size: px(20);
        line-height: px(60);
      }
    }
    p{
      font-size:14px;
      margin:{
        top:px(42);
      }
      padding:0 px(30);
    }
    h2{
      font-size:18px;
      line-height: px(40);
      width:px(202);
      color:white;
      background:#5cc1df;
      position:absolute;
      border-radius:px(5);
      left:0;
      right:0;
      margin:0 auto;
      bottom:px(25);
    }
  }
}
