.scene-tree {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .scene-tree .scene-data {
    position: fixed;
    width: 480px;
    background: white;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 10px;
    overflow: scroll; }
    .scene-tree .scene-data > h1 {
      line-height: 40px;
      text-align: center;
      font-size: px(20);
      background: white;
      position: fixed;
      text-align: center;
      width: 480px; }
      .scene-tree .scene-data > h1 span {
        position: absolute;
        right: 10px;
        top: 0;
        font-size: px(30);
        line-height: 30px; }
    .scene-tree .scene-data > ul {
      margin-left: 60px;
      margin-top: 40px;
      line-height: 22px; }
    .scene-tree .scene-data li > ul {
      margin-left: 40px; }
    .scene-tree .scene-data ul {
      background: url(./32px.png) repeat-y -302px center; }
    .scene-tree .scene-data li i {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(./32px.png) no-repeat -80px top; }
    .scene-tree .scene-data li span {
      cursor: pointer; }
