.scene-tree{
  position:fixed;
  background: rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  top:0;
  left:0;
  .scene-data{
    &>h1{
      line-height: 40px;
      text-align: center;
      font-size: px(20);
      background: white;
      span{
        position: absolute;
        right:10px;;
        top:0;
        font-size: px(30);
        line-height: 30px;
        cursor:pointer;
      }
      position:fixed;
      text-align: center;
      width:480px;
    }
    position:fixed;
    width:480px;
    background: white;
    top:60px;
    bottom:60px;
    left:0;
    right:0;
    margin:0 auto;
    border-radius:10px;
    overflow: scroll;
    &>ul{
      margin-left:60px;
      margin-top:40px;
      line-height: 22px;
    }
    li>ul{
      margin:{
        left:40px;
      }
    }
    //borer
    ul{
      background: url(./32px.png) repeat-y -302px center;
    }
    li{
      i{
        display: inline-block;
        width:22px;
        height:22px;
        background: url(./32px.png) no-repeat -80px top;
      }
      span{
        cursor:pointer;
      }
    }
  }

}
