.scene-tree {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.scene-tree .scene-data {
  position: fixed;
  width: 0.4rem;
  background: white;
  top: 0.05rem;
  bottom: 0.05rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 0.00833rem;
  overflow: scroll; }

.scene-tree .scene-data > h1 {
  line-height: 0.13333rem;
  text-align: center;
  font-size: 0.02667rem;
  background: white;
  color: #626262;
  z-index: 1;
  position: fixed;
  text-align: center;
  width: 0.4rem; }

.scene-tree .scene-data > h1 span {
  color: #777;
  position: absolute;
  right: 0.025rem;
  top: 0;
  font-size: 0.04167rem;
  line-height: 0.11667rem;
  cursor: pointer; }

.scene-tree .scene-data > ul:first-of-type {
  margin-top: 0.13333rem; }

.scene-tree .scene-data > ul > li:first-child {
  color: #5a5a5a;
  font-size: 0.02667rem;
  line-height: 0.08333rem;
  padding-left: 0.05833rem;
  border-top: 0.00333rem solid #ececec;
  position: relative; }

.scene-tree .scene-data > ul > li:last-child {
  font-size: 0.0225rem;
  line-height: 0.06667rem;
  color: #c8c8c8;
  background: #f5f5f5; }

.scene-tree .scene-data > ul > li:last-child li {
  padding-left: 0.05833rem;
  border-bottom: 0.00167rem solid #ebebeb; }

.active-scene {
  background: #f0f0f0; }

.active-scene:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0.00667rem solid transparent;
  border-top-color: #7b7b7b;
  position: absolute;
  right: 0.03333rem;
  top: 0;
  bottom: 0;
  margin: auto 0; }

.unactive-scene:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0.00667rem solid transparent;
  border-left-color: #d8d8d8;
  position: absolute;
  right: 0.03333rem;
  top: 0;
  bottom: 0;
  margin: auto 0; }
