.sleep-plan-list {
  padding: 0 0.01333rem; }
  .sleep-plan-list > h1 {
    line-height: 0.045rem;
    font-size: 0.01rem; }
  .sleep-plan-list > table {
    width: 100%;
    text-align: center;
    font-size: 0.01167rem;
    line-height: 0.035rem;
    border-collapse: collapse;
    margin-bottom: 0.02083rem; }
    .sleep-plan-list > table td {
      border: 1px solid #dbdbdb; }
    .sleep-plan-list > table tr {
      background: #fafafa; }
      .sleep-plan-list > table tr img {
        display: inline-block;
        vertical-align: middle;
        height: 0.025rem; }
    .sleep-plan-list > table tr:nth-child(2n) {
      background: white; }
    .sleep-plan-list > table tr:first-child {
      color: #dbdbdb;
      background: #faf9fd; }
  .sleep-plan-list .habit-control-buttons {
    text-align: center; }
    .sleep-plan-list .habit-control-buttons > ul {
      overflow: hidden;
      margin-bottom: 0.02083rem; }
      .sleep-plan-list .habit-control-buttons > ul li {
        float: right;
        margin: 0 0.01rem;
        line-height: 0.02333rem;
        padding: 0 0.01833rem;
        border-radius: 0.00417rem;
        cursor: pointer; }
      .sleep-plan-list .habit-control-buttons > ul li:nth-child(2), .sleep-plan-list .habit-control-buttons > ul li:nth-child(3) {
        color: #5cc1df;
        border: 1px solid; }
      .sleep-plan-list .habit-control-buttons > ul li:nth-child(1) {
        color: white;
        background: #ff5722; }
    .sleep-plan-list .habit-control-buttons > h1 {
      cursor: pointer;
      width: 0.08167rem;
      line-height: 0.025rem;
      color: #5cc1df;
      border: 1px solid;
      border-radius: 0.00417rem;
      font-size: 0.01333rem;
      float: right; }
    .sleep-plan-list .habit-control-buttons > h2 {
      width: 0.28333rem;
      line-height: 0.04333rem;
      background: #5cc1df;
      margin: 0 auto;
      font-size: 0.01667rem;
      border-radius: 0.00417rem; }
      .sleep-plan-list .habit-control-buttons > h2 a {
        color: white; }

.ctr-buttons {
  width: 0.125rem;
  margin: 0 auto; }
  .ctr-buttons li {
    padding: 0 0.01333rem;
    float: left; }
  .ctr-buttons li:first-child a {
    color: #62c3e1; }
  .ctr-buttons li:nth-child(2) {
    color: #ff6b3c; }
    .ctr-buttons li:nth-child(2) a {
      color: #ff6b3c; }
