@function px($a){
  @return $a/1200*1rem;
}
.sleep-plan-list{
  padding: 0 px(16);
  &>h1{
    line-height: px(54);
    font-size:px(12);
  }
  &>table{
    width:100%;
    text-align: center;
    font-size:px(14);
    line-height: px(42);
    border-collapse:collapse;
    margin:{
      bottom:px(25);
    }
    td{
      border:1px solid #dbdbdb;

    }
    tr{
      background:#fafafa;
      img{
        display:inline-block;
        vertical-align: middle;
        height:px(30);
      }
    }
    tr:nth-child(2n){
      background:white;
    }
    tr:first-child{
      color:#dbdbdb;
      background:#faf9fd;
    }
  }
  .habit-control-buttons{
    text-align: center;
    &>ul{
      li{
        float:right;
        margin:0 px(12);
        line-height: px(28);
        padding:0 px(22);
        border-radius:px(5);
        cursor:pointer;
      }
      overflow: hidden;
      margin:{
        bottom:px(25);
      }
      li:nth-child(2),li:nth-child(3){
        color:#5cc1df;
        border:1px solid;
      }
      li:nth-child(1){
        color:white;
        background:#ff5722;
      }
    }
    &>h1{
      cursor:pointer;
      width:px(98);
      line-height:px(30);
      color:#5cc1df;
      border:1px solid;
      border-radius:px(5);
      font-size:px(16);
      float:right;
    }
    &>h2{
      width:px(340);
      line-height:px(52);
      background:#5cc1df;

      margin: 0 auto;
      font-size:px(20);
      border-radius:px(5);
      a{
        color:white;
      }
    }
  }
}
.ctr-buttons{
  width:px(150);
  margin:0 auto;
  li{
    padding:0 px(16);
    float:left;
  }
  li:first-child{
    a{
      color:#62c3e1;
    }
  }
  li:nth-child(2){
    color:#ff6b3c;
    a{
      color:#ff6b3c;
    }
  }
}
