.sleep-plan-list {
  padding: 0 16px; }
  .sleep-plan-list > h1 {
    line-height: 54px;
    font-size: 12px; }
  .sleep-plan-list > table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    border-collapse: collapse;
    margin-bottom: 25px; }
    .sleep-plan-list > table td {
      border: 1px solid #dbdbdb; }
    .sleep-plan-list > table tr {
      background: #fafafa; }
    .sleep-plan-list > table tr:nth-child(2n) {
      background: white; }
    .sleep-plan-list > table tr:first-child {
      color: #dbdbdb;
      background: #faf9fd; }
  .sleep-plan-list .habit-control-buttons {
    text-align: center; }
    .sleep-plan-list .habit-control-buttons > ul {
      overflow: hidden;
      margin-bottom: 25px; }
      .sleep-plan-list .habit-control-buttons > ul li {
        float: right;
        margin: 0 12px; }
    .sleep-plan-list .habit-control-buttons > h1 {
      width: 98px;
      line-height: 30px;
      color: #5cc1df;
      border: 1px solid;
      border-radius: 5px;
      font-size: 16px;
      float: right; }
    .sleep-plan-list .habit-control-buttons > h2 {
      width: 340px;
      line-height: 52px;
      background: #5cc1df;
      color: white;
      margin: 0 auto;
      font-size: 20px;
      border-radius: 5px; }
