.sleep-plan-list{
  padding: 0 16px;
  &>h1{
    line-height: 54px;
    font-size:12px;
  }
  &>table{
    width:100%;
    text-align: center;
    font-size:14px;
    line-height: 42px;
    border-collapse:collapse;
    margin:{
      bottom:25px;
    }
    td{
      border:1px solid #dbdbdb;
      
    }
    tr{
      background:#fafafa;
    }
    tr:nth-child(2n){
      background:white;
    }
    tr:first-child{
      color:#dbdbdb;
      background:#faf9fd;
    }
  }
  .habit-control-buttons{
    text-align: center;
    &>ul{
      li{
        float:right;
        margin:0 12px;
      }
      overflow: hidden;
      margin:{
        bottom:25px;
      }
    }
    &>h1{
      width:98px;
      line-height:30px;
      color:#5cc1df;
      border:1px solid;
      border-radius:5px;
      font-size:16px;
      float:right;
    }
    &>h2{
      width:340px;
      line-height:52px;
      background:#5cc1df;
      color:white;
      margin: 0 auto;
      font-size:20px;
      border-radius:5px;
    }
  }
}
