.editor-voice .editor-voice-info > h2 {
  width: 0.17083rem;
  line-height: 0.03333rem;
  background: #5cc1df;
  text-align: center;
  color: white;
  font-size: 0.015rem;
  border-radius: 0.00417rem;
  margin: 0.01667rem auto 0;
  cursor: pointer; }

.editor-voice .editor-voice-info > ul {
  line-height: 0.035rem; }
  .editor-voice .editor-voice-info > ul > li {
    text-align: left;
    padding: 0.00917rem 0; }
    .editor-voice .editor-voice-info > ul > li > span {
      width: 0.055rem;
      display: inline-block;
      color: #c7c7c7;
      margin-left: 0.02167rem; }
    .editor-voice .editor-voice-info > ul > li [type='checkbox'] {
      width: 0.01333rem;
      height: 0.01333rem;
      margin-right: 0.00667rem;
      vertical-align: middle; }
    .editor-voice .editor-voice-info > ul > li label {
      margin-right: 0.01833rem; }
    .editor-voice .editor-voice-info > ul > li select {
      height: 0.03167rem; }
    .editor-voice .editor-voice-info > ul > li [type='text'] {
      height: 0.03167rem;
      width: 0.23833rem;
      border: 1px solid #f0f0f0;
      padding-left: 0.015rem; }
  .editor-voice .editor-voice-info > ul .answer-age {
    padding-left: 0.02333rem; }
    .editor-voice .editor-voice-info > ul .answer-age span:first-child {
      margin-left: 0; }
    .editor-voice .editor-voice-info > ul .answer-age label {
      font-size: 0.01rem; }

.editor-voice .editor-voice-info .editor-voice-notice {
  overflow: hidden;
  padding: 0;
  font-size: 0.01rem;
  line-height: 1; }
  .editor-voice .editor-voice-info .editor-voice-notice > ul li:first-child {
    float: left;
    margin-left: 0.075rem;
    color: #c8c8c8; }
  .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child {
    float: right;
    font-size: 0.01167rem;
    margin-right: 0.02167rem; }
    .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child span {
      padding-left: 0.015rem;
      cursor: pointer; }
    .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child .on {
      color: #5cc1df; }
    .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child .del {
      color: #ff7043; }

.editor-voice-submit {
  overflow: hidden;
  padding-left: 0.03083rem;
  margin: 0.03333rem 0; }
  .editor-voice-submit > p {
    width: 0.11667rem;
    line-height: 0.04333rem;
    float: left;
    text-align: center;
    font-size: 0.01667rem;
    color: white;
    border-radius: 0.00417rem;
    cursor: pointer; }
  .editor-voice-submit > p:first-child {
    background: #dbdbdb;
    margin-right: 0.05rem; }
  .editor-voice-submit > p:last-child {
    background: #5cc1df; }
