@function px($a){
  @return $a/1200*1rem;
}
.editor-voice{
  .editor-voice-info{
    &>h2{
      width:px(205);
      line-height:px(40);
      background:#5cc1df;
      text-align: center;
      color:white;
      font-size:18px;
      border-radius:px(5);
      margin:px(20) auto 0;
      cursor:pointer;
    }
    &>ul{
      line-height: px(42);
      &>li{
        text-align: left;
        padding: px(11) 0;
        &>span{
          width:px(66);
          display:inline-block;
          color:#c7c7c7;
          margin:{
            left:px(26);
          }
        }
        [type='checkbox']{
          width:px(16);
          height:px(16);
          margin-right:px(8);
          vertical-align: middle;
        }
        label{
          margin-right:px(22);
        }
        select{
          height:px(38);
        }
        [type='text']{
          height:px(38);
          width:px(286);
          border:1px solid #f0f0f0;
          padding-left:px(18);
        }
      }
    }
    .editor-voice-notice{
      overflow: hidden;
      padding:0;
      font-size:12px;
      line-height: 1;
      &>ul{
        li:first-child{
          float:left;
          margin-left:px(90);
          color:#c8c8c8;
        }
       li:last-child{
          float:right;
          font-size:14px;
          margin-right:px(26);
          span{
            padding-left:px(18);
            cursor:pointer;
          }
          .on{
            color:#5cc1df;
          }
          .del{
            color:#ff7043;
          }
        }
      }
    }
  }
}
.editor-voice-submit{
  overflow: hidden;
  padding:{
    left:px(37);
  }
  margin:px(40) 0;
  &>p{
    width:px(140);
    line-height:px(52);
    float:left;
    text-align: center;
    font-size:20px;
    color:white;
    border-radius:px(5);
    cursor:pointer;
  }
  &>p:first-child{
    background:#dbdbdb;
    margin-right:px(60);
  }
  &>p:last-child{
    background:#5cc1df;
  }
}
