.editor-voice .editor-voice-info > h2 {
  width: 205px;
  line-height: 40px;
  background: #5cc1df;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin: 20px auto 0;
  cursor: pointer; }

.editor-voice .editor-voice-info > ul {
  line-height: 42px; }
  .editor-voice .editor-voice-info > ul > li {
    text-align: left;
    padding: 11px 0; }
    .editor-voice .editor-voice-info > ul > li > span {
      width: 66px;
      display: inline-block;
      color: #c7c7c7;
      margin-left: 26px; }
    .editor-voice .editor-voice-info > ul > li [type='checkbox'] {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      vertical-align: middle; }
    .editor-voice .editor-voice-info > ul > li label {
      margin-right: 22px; }
    .editor-voice .editor-voice-info > ul > li select {
      height: 38px; }
    .editor-voice .editor-voice-info > ul > li [type='text'] {
      height: 38px;
      width: 286px;
      border: 1px solid #f0f0f0;
      padding-left: 18px; }

.editor-voice .editor-voice-info .editor-voice-notice {
  overflow: hidden;
  padding: 0;
  font-size: 12px;
  line-height: 1; }
  .editor-voice .editor-voice-info .editor-voice-notice > ul li:first-child {
    float: left;
    margin-left: 90px;
    color: #c8c8c8; }
  .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child {
    float: right;
    font-size: 14px;
    margin-right: 26px; }
    .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child span {
      padding-left: 18px;
      cursor: pointer; }
    .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child .on {
      color: #5cc1df; }
    .editor-voice .editor-voice-info .editor-voice-notice > ul li:last-child .del {
      color: #ff7043; }

.editor-voice-submit {
  overflow: hidden;
  padding-left: 37px;
  margin: 40px 0; }
  .editor-voice-submit > p {
    width: 140px;
    line-height: 52px;
    float: left;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer; }
  .editor-voice-submit > p:first-child {
    background: #dbdbdb;
    margin-right: 60px; }
  .editor-voice-submit > p:last-child {
    background: #5cc1df; }
