@function px($a){
  @return $a/1200*1rem;
}
.toy-plan-item{
  &>li{
    border-bottom:px(24) solid #f4f4f4;
    padding:{
      bottom:px(22);
    }
    h1{
      line-height: px(40);
      font:{
        size:12px;
      }
      padding-left:px(16);
    }
    h2{
      line-height: px(40);
      border-top:1px solid #f7f7f7;
      padding-left:px(16);
      color:#a9a9a9;
      font:{
        size:12px;
      }
    }
    h2+span{
      width:px(50);
      line-height:px(30);
      background:#faf9fd;
      margin:{
        bottom:px(16);
        left:px(16);
      }
      text-align:center;
      font-size:12px;
      display:inline-block;
    }
    h2+span+select{
      width:px(104);
      height:px(30);
      border:none;
    }
  }

  table{
    width:px(982);
    font:{
      size:14px;
    }
    td{
      border:1px solid #f0f0f0;
    }
    line-height: px(42);
    border-collapse:collapse;
    border:1px solid #f0f0f0;
    border-radius:px(5);
    margin: 0 auto px(26);
    text-align:center;
    tr:nth-child(2n+1){
      background:#fafafa;
    }
    tr:first-child{
      background:#faf9fd;
      color:#b3b2b3;
    }
  }
  p.submit{
    width:px(340);
    line-height:px(50);
    display:block;
    margin:0 auto;
    text-align: center;
    background:#5cc1df;
    font:{
      size:20px;
    }
    border-radius:px(5);
    border:none;
    a{
      color:white;
    }
  }
  &>li:first-child{
    margin-bottom:0px;
  }
  &>li:nth-child(1),&>li:nth-child(3){
    table{
      text-align: left;
      td{
        padding-left: px(12);
      }
    }
  }
  &>li:last-child{
    border-bottom: none;
    table{
      td{
        border:none;
        p{
          line-height:px(24);
        }
      }

    }
  }
  .toy-operate-buttons{
    overflow: hidden;
    li,+P{
      float:right;
      line-height: px(30);
      padding: 0 px(12);
      border:1px solid;
      margin-right: px(16);
      text-align:center;
      border-radius:px(5);
    }
    li:first-child{
      background:#fe6636;
      color:white;
    }
    li:nth-child(2){
      color:#5cc1df;
    }
    +p{
      color:#5cc1df;

    }
  }
}
.button-operate-all{
  margin-bottom: px(26);
  overflow: hidden;
  li{
    float: right;
    font-size: 16px;
    line-height: px(30);
    text-align: center;
    margin-right: px(16);
    border-radius: px(5);
    border: 1px solid;
    padding: 0 px(24);
  }
  .choose-all{
    color: #c4d1c8;
  }
  .del-all{
    color: #56cc76;
  }
}
.button-change-mode{
  width: px(98);
  line-height: px(30);
  color: #5cc1df;
  border: 1px solid;
  border-radius: px(5);
  font-size: 16px;
  float: right;
  text-align: center;
  margin:{
    right:px(16);
  }
}
.operate-button{
  &>span,&>input{
    margin: 0 px(12);
  }
  &>.editor-button{
    color:#5cc1df;
    a{
      color:#5cc1df;
    }
  }
  &>.del-button{
    color:rgb(254, 100, 52);
  }
}
.toy-plan{
  &>h1{
    line-height:px(40);
    color:#d0d0d0;
    font-size:14px;
    background:#f4f4f4;
  }
  &>h2{
    line-height: px(40);
    margin:{
      left:px(16);
    }
    font:{
      size:15px;
    }
  }
}
.toy-plan-tabs{
  padding-left:px(16);
  border-bottom:1px solid #f7f7f7;
  overflow:hidden;
  li{
    line-height: px(46);
    width:px(114);
    float:left;
    text-align:center;
    margin: 0 px(12);
    a{
      display:block;
      width:100%;
    }
  }
}
