.toy-plan-item{
  &>li{
    border-bottom:24px solid #f4f4f4;
    padding:{
      bottom:22px;
    }
    h1{
      line-height: 40px;
      font:{
        size:12px;
      }
      padding-left:16px;
    }
    h2{
      line-height: 40px;
      border-top:1px solid #f7f7f7;
      padding-left:16px;
      color:#a9a9a9;
      font:{
        size:12px;
      }
    }
    h2+span{
      width:50px;
      line-height:30px;
      background:#faf9fd;
      margin:{
        bottom:16px;
        left:16px;
      }
      text-align:center;
      font-size:12px;
      display:inline-block;
    }
    h2+span+select{
      width:104px;
      height:30px;
      border:none;
    }
  }

  table{
    width:982px;
    font:{
      size:14px;
    }
    td{
      border:1px solid #f0f0f0;
    }
    line-height: 42px;
    border-collapse:collapse;
    border:1px solid #f0f0f0;
    border-radius:5px;
    margin: 0 auto 26px;
    text-align:center;
    tr:nth-child(2n+1){
      background:#fafafa;
    }
    tr:first-child{
      background:#faf9fd;
      color:#b3b2b3;
    }
  }
  p.submit{
    width:340px;
    line-height:50px;
    display:block;
    margin:0 auto;
    text-align: center;
    background:#5cc1df;
    font:{
      size:20px;
    }
    border-radius:5px;
    border:none;
    a{
      color:white;
    }
  }
  &>li:first-child{
    margin-bottom:0px;
  }
  &>li:nth-child(1),&>li:nth-child(3){
    table{
      text-align: left;
      td{
        padding-left: 12px;
      }
    }
  }
  &>li:last-child{
    border-bottom: none;
  }
  .toy-operate-buttons{
    overflow: hidden;
    li,+P{
      float:right;
      line-height: 30px;
      padding: 0 12px;
      border:1px solid;
      margin-right: 16px;
      text-align:center;
      border-radius:5px;
    }
    li:first-child{
      background:#fe6636;
      color:white;
    }
    li:nth-child(2){
      color:#5cc1df;
    }
    +p{
      color:#5cc1df;

    }
  }
}
.button-operate-all{
  margin-bottom: 26px;
  overflow: hidden;
  li{
    float: right;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-right: 16px;
    border-radius: 5px;
    border: 1px solid;
    padding: 0 24px;
  }
  .choose-all{
    color: #c4d1c8;
  }
  .del-all{
    color: #56cc76;
  }
}
.button-change-mode{
  width: 98px;
  line-height: 30px;
  color: #5cc1df;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  float: right;
  text-align: center;
}
.operate-button{
  &>span,&>input{
    margin: 0 12px;
  }
  &>.editor-button{
    color:#5cc1df;
  }
  &>.del-button{
    color:rgb(254, 100, 52);
  }
}
