.add-to {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  color: #b6b6b6; }
  .add-to .add-to-panel {
    width: 0.355rem;
    height: 0.27167rem;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .add-to .add-to-panel > span {
      position: absolute;
      width: 0.04667rem;
      height: 0.04667rem;
      text-align: center;
      transform: rotate(45deg);
      top: 0;
      right: 0;
      line-height: 0.04667rem;
      cursor: pointer; }
    .add-to .add-to-panel > span:after {
      content: '+';
      display: block;
      font-size: 0.035rem;
      text-align: center; }
    .add-to .add-to-panel > h1 {
      line-height: 0.05rem;
      margin-bottom: 0.01167rem;
      font-size: 0.01333rem;
      color: black;
      text-align: center; }
    .add-to .add-to-panel > p {
      margin-left: 0.02083rem; }
      .add-to .add-to-panel > p span {
        display: inline-block;
        width: 0.05833rem;
        height: 0.03167rem; }
      .add-to .add-to-panel > p select, .add-to .add-to-panel > p input {
        color: #b6b6b6;
        width: 0.25333rem;
        height: 0.03167rem;
        margin-bottom: 0.0175rem;
        padding-left: 0.01333rem; }
      .add-to .add-to-panel > p input {
        width: 0.23833rem; }
    .add-to .add-to-panel > h2 {
      width: 0.16833rem;
      line-height: 0.03333rem;
      background: #5cc1df;
      color: white;
      font-size: 0.015rem;
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
      border-radius: 0.00417rem;
      margin-top: 0.01667rem; }
