@function px($a){
  @return $a/1200*1rem;
}
.add-to{
  position:fixed;
  width:100%;
  height:100%;
  z-index:10;
  background: rgba(0,0,0,0.6);
  top:0;
  left:0;
  color:#b6b6b6;
  .add-to-panel{
    width:px(426);
    height:px(326);
    background: white;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    &>span{
      position:absolute;
      width:px(56);
      height:px(56);
      text-align: center;
      transform:rotate(45deg);
      top:0;
      right:0;
      line-height: px(56);
      cursor:pointer;
    }
    &>span:after{
      content:'+';
      display:block;
      font:{
        size:px(42);
      }
      text-align:center;
    }
    &>h1{
      line-height: px(60);
      margin:{
        bottom:px(14);
      }
      font:{
        size:px(16);
      }
      color:black;
      text-align:center;
    }
    &>p{
      margin:{
        left:px(25);
      }
      span{
        display:inline-block;
        width:px(70);
        height:px(38);
      }
      select,input{
        color:#b6b6b6;
        width:px(304);
        height:px(38);
        margin:{
          bottom:px(21);
        }
        padding:{
          left:px(16);
        }
      }
      input{
        width:px(286);
      }
    }
    &>h2{
      width:px(202);
      line-height:px(40);
      background:#5cc1df;
      color:white;
      font:{
        size:px(18);
      }
      cursor:pointer;
      text-align:center;
      margin:0 auto;
      border-radius:px(5);
      margin:{
        top:px(20);
      }
    }
  }
}
